.aboutboard{
    width: 100%;
    height: 100vh;
   background-color: rgb(1, 0, 70);
}

.aboutboard h1{
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    text-decoration: underline;
}
.aboutboard p{
    padding-left: 50px;
    padding-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
}
.aboutboard h3{
    color: aliceblue;
}

.aboutboard button{
   margin-left: 550px;
}